* {
  margin: 0;
}

.paper {
  padding: 1rem;
}

#join-room {
  .MuiFormControl-root {
    margin-bottom: 1.5rem;
    width: 100%;
  }

  .form-header {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 3rem auto;
  }
}
