$backgroundColor: #f9f7f1;

@import "./common/dialog.scss";
@import "./navbar.scss";

* {
  margin: 0;
}

body {
  font-family: "Gloria Hallelujah", cursive !important;
}

#container {
  background-color: $backgroundColor;
  min-height: 100vh;
}

.paper {
  background-color: $backgroundColor !important;
  margin-top: 30%;

  .title {
    font-size: 4rem;
    text-align: center;
  }

  .menu {
    display: flex;
    flex-direction: column;
    padding: 1rem;

    button {
      background-color: #fff;
      border-width: 3px;
      font-size: 1.25rem;
      height: 75px;
      margin: 1rem;

      &:hover {
        background-color: lightgrey;
      }
    }
  }
}

.simple-loader {
  font-size: 3rem;
  text-align: center;
}
