$backgroundColor: #f9f7f1;

@import "./common/dialog.scss";
@import "./common/loaders.scss";
@import "./components/navbar.scss";
@import "./components/lobby.scss";

* {
  margin: 0;
}

body {
  background-color: $backgroundColor;
  font-family: "Gloria Hallelujah", cursive !important;
  min-height: 100vh;
}

#container {
  padding: 16px;
}

.paper {
  background-color: $backgroundColor !important;
  margin-top: 3rem;

  .title {
    font-size: 4rem;
    text-align: center;
  }

  .menu {
    display: flex;
    flex-direction: column;
    padding: 1rem;

    button {
      background-color: #fff;
      border-width: 3px;
      font-size: 1.25rem;
      height: 75px;
      margin: 1rem;

      &:hover {
        background-color: lightgrey;
      }
    }
  }
}

.link-button {
  width: 100%;

  a {
    color: #fff;
    text-decoration: none;
  }
}

.games {
  margin-top: 1rem;
}

.back-link {
  color: #000;
  text-decoration: none;

  span {
    margin-left: 0.5rem;
  }

  svg {
    font-size: 1rem;
  }
}

.button-group {
  margin-top: 1rem;

  button {
    width: 100%;
  }

  h6 {
    margin: 0.5rem 0;
  }
}

.flex-form {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;

  .MuiTextField-root {
    background-color: #fff;
    margin-bottom: 1rem;
  }
}
